-
	var fontStyles = eval(require('!!css!sass!assets/fonts/fonts.global.scss'))
	var mainStyles = eval(require('!!css!sass!styles/MainEntry.global.scss'))
doctype html
html(lang="en")
	head
		script.
			window.startLoadTime = Date.now()


		meta(charset='utf-8')
		meta(name="viewport" content="width=device-width, initial-scale=1")
		style!=fontStyles
		style!=mainStyles
		style!=eval(require('!!css!sass!styles/split-pane.global.scss'))
		style!=eval(require('!!css!animate.css/animate.css'))
		style!=eval(require('!!css!font-awesome/css/font-awesome.min.css'))
		style!=eval(require('!!css!highlight.js/styles/dark.css'))
		style!=eval(require('!!css!simplemde/dist/simplemde.min.css'))
		style!=eval(require('!!css!sass!assets/styles/MarkdownEditor.SimpleMDE.global.scss'))

		// Splash screen load
		script.


		meta(name="viewport",content="width=device-width, initial-scale=1")
		title epictask
		script.
			//noinspection NodeModulesDependencies
			var isDev = "#{htmlWebpackPlugin.options.isDev}" === 'true'

			//noinspection JSAnnotator
			require('./BrowserEntry.bundle.js')
				.initBrowser(isDev)



	body.fill-width.fill-height()
		#root
		#loader-root




